<div class="cm-form-field">
  <div class="p-b-4 d-block">
    <ng-content select="mat-label"></ng-content>
    @if (help) {
      <button type="button" class="form-help" (click)="tooltip.toggle()">
        <i-tabler name="question-mark" class="icon-14"></i-tabler>
      </button>
      <span #tooltip="matTooltip" [matTooltip]="help"
        matTooltipTouchGestures="off"
        matTooltipPosition="above"
        matTooltipShowDelay="0"
      ></span>
    }
    <ng-container *ngTemplateOutlet="buttonsTemplate ? buttonsTemplate : defaultButtons"></ng-container>
  </div>

  <!-- 控件行：左侧主内容（输入框等），右侧可选操作（formFieldAction） -->
  <div class="cm-form-field__row d-flex flex-wrap align-items-center gap-8">
    <div class="cm-form-field__control flex-fill min-w-0">
      <ng-content></ng-content>
    </div>
    <ng-content select="[formFieldAction]"></ng-content>
  </div>
</div>
<ng-template #defaultButtons></ng-template>
