<div class="row">
  @if (selectAll) {
    <div class="col-24">
      <mat-checkbox
        color="primary"
        [indeterminate]="someComplete"
        (change)="checkAllChange($event.checked)"
        [checked]="allComplete"
        [disabled]="!checkboxList.length || itemCtrl.disabled"
      >
        全选
        @if (required) {
          <cm-required-mark class="m-l-4"></cm-required-mark>
        }
      </mat-checkbox>
    </div>
  }
  <div class="col-24">
    @for (item of checkboxList; track item[valueProp]) {
      <mat-checkbox
        class="m-r-10"
        color="primary"
        [checked]="(itemCtrl.value || []).includes(item[valueProp])"
        (change)="checkChange($event.checked, item)"
        [disabled]="itemCtrl.disabled || disabledIds.includes(item[valueProp])"
      >
        @if (optionRender) {

          <ng-container *ngTemplateOutlet="optionRender; context: { $implicit: item }"></ng-container>
        
} @else {

          <!-- 默认渲染内容 -->
          {{ item[this.renderProp] }}
        
}
        
      </mat-checkbox>
    }
  </div>
</div>
