<div class="sidebar-brand-row">
  <div class="branding">
    <app-branding></app-branding>
  </div>

  @if (showToggle) {
    <button
      mat-icon-button
      type="button"
      (click)="toggleMobileNav.emit()"
      matTooltip="关闭菜单"
      class="sidebar-toggle-button"
    >
      <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
    </button>
  } @else {
    <button
      mat-icon-button
      type="button"
      (click)="toggleCollapsed.emit()"
      matTooltip="收起/展开菜单"
      class="sidebar-collapse-button"
    >
      <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
    </button>
  }
</div>
