<h5 mat-dialog-title class="mat-subtitle-1">
  @switch (model) {
    @case (modelType.info) {
      <!-- 提示框 -->
      {{ data.title || '提示' }}
    }
    @case (modelType.confirm) {
      <!-- 确认框 -->
      {{ data.title || '确认' }}
    }
    @case (modelType.delete) {
      {{ data.title || '删除' }}
    }
    @default {
      <!-- 默认 -->
    }
  }
</h5>

<div mat-dialog-content class="mat-content-wrapper">
  @switch (model) {
    @case (modelType.info) {
      <!-- 确认框 -->
      {{ data.content || '' }}
    }
    @case (modelType.confirm) {
      <!-- 确认框 -->
      {{ data.content || '' }}
    }
    @case (modelType.delete) {
      {{ data.content || '你确定要删除这条记录？' }}
    }
    @default {
      <!-- 默认 -->
    }
  }
</div>

<div mat-dialog-actions class="text-right p-24 p-t-0">
  @switch (model) {
    @case (modelType.info) {
      <!-- 提示框 -->
      <button mat-flat-button color="primary" type="button" mat-dialog-close>{{ data.sureStr || '好的' }}</button>
    }
    @case (modelType.confirm) {
      <!-- 确认框 -->
      <button mat-stroked-button color="primary" type="button" mat-dialog-close>{{ data.cancelStr || '取消' }}</button>
      <button mat-flat-button color="primary" type="button" [mat-dialog-close]="true">{{ data.sureStr || '确认' }}</button>
    }
    @case (modelType.delete) {
      <button mat-stroked-button color="primary" type="button" mat-dialog-close>{{ data.cancelStr || '取消' }}</button>
      <button mat-flat-button color="warn" type="button" [mat-dialog-close]="true">{{ data.sureStr || '确认' }}</button>
    }
    @default {
      <!-- 默认 -->
    }
  }
</div>
