<mat-card class="cardWithShadow">
  <mat-card-content class="p-y-24">
    <mat-card-title class="m-t-16">设备信息</mat-card-title>
    <mat-card-subtitle class="mat-body-1">当前您的账户正在登录的设备列表，您可以管理当前登录设备</mat-card-subtitle>
    <button mat-flat-button color="primary" type="button" class="m-t-24" (click.debounceTime)="logOutAllDevice()">注销所有设备</button>

    @for (device of deviceList; track trackByDeviceItem(i, device); let i = $index) {
      <div class="d-flex align-items-center p-y-24" [class.b-b-1]="deviceList.length > 1 && i < deviceList.length - 1">
        <span>
          @if (device.deviceType === 'web') {
            <i-tabler name="device-desktop" class="icon-24" matTooltip="浏览器"></i-tabler>
          } @else if (device.deviceType === 'ios') {
            <i-tabler name="device-mobile" class="icon-24" matTooltip="IOS客户端"></i-tabler>
          } @else if (device.deviceType === 'android') {
            <i-tabler name="brand-android" class="icon-24" matTooltip="Android客户端"></i-tabler>
          } @else if (device.deviceType === 'browser_extension') {
            <i-tabler name="puzzle" class="icon-24" matTooltip="浏览器扩展"></i-tabler>
          } @else {
            <i-tabler name="device-laptop" class="icon-24" matTooltip="其他设备"></i-tabler>
          }
        </span>
        <div class="m-l-16">
          <mat-card-title class="m-b-0">{{ device.deviceName }}</mat-card-title>
          <mat-card-subtitle class="mat-body-1">{{ device.ip }}, {{ device.loginTimeStr }}</mat-card-subtitle>
        </div>
        @if (device.current) {
          <span class="m-l-auto bg-light-primary text-primary rounded f-w-600 p-x-8 p-y-2 f-s-14">当前登录</span>
        } @else {
          <button mat-icon-button class="m-l-auto" color="warn" type="button" matTooltip="注销登录设备" type="button" (click.debounceTime)="logOutDevice(device.token)">
            <i-tabler name="trash" class="icon-24"></i-tabler>
          </button>
        }
      </div>
    }
    <button mat-stroked-button color="primary" type="button" class="m-t-16 w-full" matTooltip="当前您的账户正在登录的设备列表，您可以管理当前登录设备">需要帮助?</button>
  </mat-card-content>
</mat-card>
