<cm-dialog-header [modalTitle]="isUpdate ? '编辑用户' : '新增用户'"> </cm-dialog-header>

<form class="form" autocomplete="off" [formGroup]="editForm" (ngSubmit)="submit()" #formDirective="ngForm">
  <div mat-dialog-content class="mat-subtitle-2 lh-16">
    <div class="row">
      <cm-form-field class="col-24 col-md-12 col-lg-12">
        <mat-label>用户名<cm-required-mark class="m-l-4"></cm-required-mark></mat-label>
        <mat-form-field appearance="outline" class="w-full" color="primary">
          <input matInput type="text" formControlName="userName" />
          <mat-error class="m-b-16 text-right"><cm-form-field-error></cm-form-field-error></mat-error>
        </mat-form-field>
      </cm-form-field>

      <cm-form-field class="col-24 col-md-12 col-lg-12">
        <mat-label>昵称<cm-required-mark class="m-l-4"></cm-required-mark></mat-label>
        <mat-form-field appearance="outline" class="w-full" color="primary">
          <input matInput type="text" formControlName="nickName" />
          <mat-error class="m-b-16 text-right"><cm-form-field-error></cm-form-field-error></mat-error>
        </mat-form-field>
      </cm-form-field>

      <cm-form-field class="col-24 col-md-12 col-lg-12">
        <mat-label>密码 <cm-required-mark class="m-l-4"></cm-required-mark></mat-label>
        <mat-form-field appearance="outline" class="w-full" color="primary">
          <input matInput type="password" formControlName="password"/>
          <mat-error class="m-b-16 text-right"><cm-form-field-error></cm-form-field-error></mat-error>
        </mat-form-field>
      </cm-form-field>

      <cm-form-field class="col-24 col-md-12 col-lg-12">
        <mat-label>确认密码 <cm-required-mark class="m-l-4"></cm-required-mark></mat-label>
        <mat-form-field appearance="outline" class="w-full" color="primary">
          <input matInput type="password" formControlName="passwordSecond" />
          <mat-error class="m-b-16 text-right"><cm-form-field-error></cm-form-field-error></mat-error>
        </mat-form-field>
      </cm-form-field>


    </div>
  </div>
</form>


<div class="m-b-16">
  <mat-divider></mat-divider>
</div>


<div mat-dialog-actions class="text-right p-24 p-t-0">
  <button mat-stroked-button color="primary" type="button" mat-dialog-close>取消</button>
  <button mat-flat-button color="primary" type="button" [disabled]="!canSubmit" (click.debounceTime)="submit()">{{ isSubmitting ? '保存中...' : '保存' }}</button>
</div>
